* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  height: 56px;
  margin: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-box img{
  margin-top: 5px;
  margin-right: 5px;
  height: 45px;
}

.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 60px);
}

/* =========================
   COLUMNAS PRINCIPALES
========================= */

.left-column {
  width: 50%;
  padding: 16px;
  border-right: 1px solid #dcdcdc;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-column {
  width: 50%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-column textarea{
  background-color: #f7f7f7;
}

/* =========================
   HEADER DEL EDITOR
========================= */

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-gramatical{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.editor-header h2 {
  font-size: 20px;
}

.action-button {
  padding: 8px 16px;
  cursor: pointer;
}

/* =========================
   EDITOR DE TEXTO
========================= */

.text-editor {
  width: 100%;
  height: 45vh;
  resize: none;
  padding: 12px;
  font-size: 25px;
  font-family: Consolas, monospace;
  border: 1px solid #cfcfcf;
  border-radius: 6px;
  outline: none;
}

.bottom-row {
  flex: 1;
  display: flex;
  gap: 16px;
}

.bottom-left-container{
  width: 35%;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
}

.bottom-left-container-title{
  margin: 15px 15px;
}

.bottom-left .table-container th{
  padding: 5px 15px 5px 15px;
  font-size: 20px;
}
.bottom-left .table-container td{
  padding: 10px 15px 10px 15px;
  font-size: 20px;
}

/* 1/3 */
.bottom-left {
  display: flex;
  justify-content: space-around;
}

.bottom-right-container{
  width: 66.66%;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
}

/* 2/3 */
.bottom-right-container-title {
  margin: 15px 15px;
}

/* =========================
   TABLAS
========================= */

.table-header {
  width: 100%;
  padding: 12px;
  font-weight: bold;
  text-align: start;
  border-bottom: 1px solid #dcdcdc;
}

.table-container {
  padding: 12px;
}

.table-container h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

table {

  width: 100%;

  border-collapse: collapse;
}

th,
td {

  border: 1px solid #dcdcdc;

  padding: 8px;

  text-align: left;
}

th {

  background-color: #f0f0f0;
}


/* =======================================
   SEGUNDA PANTALLA
======================================= */

.second-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 30px;
}

.second-left {
  width: 33.33%;
  border-right: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding: 0px 16px 0px 16px;
}

.second-right {
    width: 64%;
    margin-left: 16px;
    margin-bottom: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

.second-top,
.second-bottom {
  height: 50%;
  overflow-y: auto;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 15px;
}